.App {
  text-align: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: dimgray;
}

.clickMe {
  background-color: #4CAF50;
  border: none;
  color: white;
  height: 70px;
  width: 170px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
  cursor: pointer;
}

.clickMe:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.start {
  background-color: #4CAF50;
  border: none;
  color: white;
  height: 70px;
  width: 170px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.start:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.reset {
  background-color: #4CAF50;
  border: none;
  color: white;
  height: 70px;
  width: 170px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
  cursor: pointer;
}

.reset:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.cpstext {
  display: none;
  color: white;
}
